ul{
    text-align:center;
    margin:0 auto;
    width:200px;
}
ul>li{
    width:150px;
    background:#345;
    padding:5px 5px;
    margin:2px 5px;
    text-align:center;
    list-style:none;
    border:solid 2px #568;
}
li>a{
    text-decoration:none;
    color:white;
    font-size:24px;
}
